<div class="list-group">
    {% for item in categories %}
        {# Generate link using templates #}
        {#        <a href="{% url 'category' item.pk %}" class="list-group-item list-group-item-action"#}
        {#           aria-current="true">#}
        {#            {{ item.title }}#}
        {#        </a>#}
        {# Generate link using python code #}
        <a href="{{ item.get_absolute_url }}" class="list-group-item list-group-item-action" aria-current="true">
            {{ item.title }}
            <span class="badge bg-primary rounded-pill">{{ item.cnt }}</span>
        </a>
    {% endfor %}
</div>